
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory Valuation</h2>

<div>
    @using (Html.BeginForm("Index", "List", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Raw(ViewBag.Error)
        <span>Excel File</span><input type="file" name="postedFile" />
        <br />
        <input type="submit" value="Import" />
    }
    <br />
    <br />
</div>
<div>
    @if (ViewBag.Inventory_Valuation_Data != null)
    {
        <table id="example" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Inv Org")</th>
                    <th>@Html.DisplayName("Item_Number")</th>
                    <th>@Html.DisplayName("Item_Description")</th>
                    <th>@Html.DisplayName("Subinv")</th>
                    <th>@Html.DisplayName("WIP Subinv")</th>
                    <th>@Html.DisplayName("User Item Type")</th>
                    <th>@Html.DisplayName("Planner_Code")</th>
                    <th>@Html.DisplayName("Purch Item")</th>
                    <th>@Html.DisplayName("Bus Area")</th>
                    <th>@Html.DisplayName("Prod Cat")</th>
                    <th>@Html.DisplayName("Prod Family")</th>
                    <th>@Html.DisplayName("Prod Type")</th>
                    <th>@Html.DisplayName("Primary UOM")</th>
                    <th>@Html.DisplayName("Onhand Quantity")</th>
                    <th>@Html.DisplayName("Unit Cost @ Std")</th>
                    <th>@Html.DisplayName("Ext'd Value")</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<Inventory.Models.Inventory_Valuation>)ViewBag.Inventory_Valuation_Data)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Inv_Org)</td>
                        <td>@Html.DisplayFor(modelItem => item.Item_Number)</td>
                        <td>@Html.DisplayFor(modelItem => item.Item_Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subinv)</td>
                        <td>@Html.DisplayFor(modelItem => item.WIP_Subinv)</td>
                        <td>@Html.DisplayFor(modelItem => item.User_Item_Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Planner_Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Purch_Item)</td>
                        <td>@Html.DisplayFor(modelItem => item.Bus_Area)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prod_Cat)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prod_Family)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prod_Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Primary_UOM)</td>
                        <td>@Html.DisplayFor(modelItem => item.Onhand_Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Unit_Cost_Std)</td>
                        <td>@Html.DisplayFor(modelItem => item.Extd_Value)</td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet" />*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" type="text/css" rel="stylesheet" />
<style type="text/css">
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
</style>
@section scripts{

    <script charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @*<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>*@
    <script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>
    <script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "scrollY": 400,
                "scrollX": true,
                columnDefs: [
                    { "className": "dt-left", "targets": "_all" }
                ]
            });
        });
    </script>
}